.Music {
    position: absolute;
    bottom: 12px;
    left: 20px;
    z-index: 10;
}

.music-btn {
    background: rgba(0, 0, 0, 0.4);
    border-radius: 50%;
    padding: 12px;
    cursor: pointer;
    color: white;
    display: flex;
    transition: all 0.3s ease;
    box-shadow: 0 4px 12px rgba(61, 29, 1, 0.4);
    border: none;
}

.music-btn:hover {
    background: rgba(234, 187, 151, 0.6);
    color: rgb(0, 0, 0);
}
